@{
    ViewData["Title"] = "Profilim";
}

<h2>Profilim</h2>

<div class="list-group mt-3">
    <a asp-action="Bilgilerim" class="list-group-item list-group-item-action">
        👤 Profil Bilgilerim
    </a>
    <a asp-action="SifreDegistir" class="list-group-item list-group-item-action">
        🔒 Şifre Değiştir
    </a>
    <a asp-action="Randevularim" class="list-group-item list-group-item-action">
        📅 Randevularım
    </a>

</div>
