@{
    ViewData["Title"] = "Yetkisiz Erişim";
}

<div class="text-center mt-5">
    <h2 class="text-danger">Yetkisiz Erişim</h2>
    <p>Bu sayfaya erişim yetkiniz yok.</p>

    <a href="/" class="btn btn-primary mt-3">
        Ana Sayfaya Dön
    </a>
</div>
